[submodule "Source/External_Projects/SIMPL"]
	path = Source/External_Projects/SIMPL
	url = https://www.github.com/joeykleingers/SIMPL.git
	branch = feature/OSD_GUI
[submodule "Source/External_Projects/SIMPLVtkLib"]
	path = Source/External_Projects/SIMPLVtkLib
	url = https://www.github.com/joeykleingers/SIMPLVtkLib.git
	branch = feature/OSD_GUI
[submodule "Source/External_Projects/CMP"]
	path = Source/External_Projects/CMP
	url = https://www.github.com/joeykleingers/CMP.git
	branch = develop
[submodule "Source/Plugins/ITKImageProcessing"]
	path = Source/Plugins/ITKImageProcessing
	url = https://www.github.com/bluequartzsoftware/ITKImageProcessing.git
	branch = feature/OSD_GUI
[submodule "Source/Plugins/MultiscaleFusion"]
	path = Source/Plugins/MultiscaleFusion
	url = https://www.github.com/joeykleingers/MultiscaleFusion.git
	branch = feature/OSD_GUI
