[submodule "Source/External_Projects/SIMPL"]
	path = Source/External_Projects/SIMPL
url=ssh://git@github.com/bluequartzsoftware/SIMPL.git
	branch = feature/OSD_GUI
[submodule "Source/External_Projects/SIMPLVtkLib"]
	path = Source/External_Projects/SIMPLVtkLib
url=ssh://git@github.com/tplatt77/SIMPLVtkLib.git
	branch = feature/OSD_GUI
[submodule "Source/External_Projects/CMP"]
	path = Source/External_Projects/CMP
	url = ssh://git@github.com/bluequartzsoftware/CMP.git
	branch = develop
[submodule "Source/Plugins/ITKImageProcessing"]
	path = Source/Plugins/ITKImageProcessing
	url = ssh://git@github.com/bluequartzsoftware/ITKImageProcessing.git
	branch = feature/OSD_GUI
[submodule "Source/External_Projects/ZeissImport"]
	path = Source/Plugins/ZeissImport
	url = ssh://git@github.com/bluequartzsoftware/ZeissImport.git
